@{
    ViewData["Title"] = "Index";
    List<String> messages = Context.Session.GetObject<List<String>>("MESSAGES");
}

<h1>Service Bus Queue</h1>

<form method="post">
    <label>Mensaje:</label>
    <input type="text" name="mensaje" class="form-control" /><hr />
    <button type="submit" name="accion" value="mensaje"
            class="btn btn-success">
        Enviar UN mensaje
    </button>
    <button type="submit" name="accion" value="batch"
            class="btn btn-danger">
        Enviar Batch
    </button>
    <button type="submit" name="accion" value="recibir"
            class="btn btn-danger">
        Comprobar Mensajes
    </button>
</form>
<hr/>
@if (messages != null)
{
    <ul class="list-group">
        @foreach (String msj in messages)
        {
            <li class="list-group-item">
                @msj
            </li>
        }
    </ul>
}

