@model List<String>
<h1>Azure Files</h1>

<a asp-controller="AzureFiles"
   asp-action="UploadFile">
    Upload File Azure
</a>

<ul class="list-group">
    @foreach (String f in Model)
    {
        <li class="list-group-item">
            @f 
            <a asp-controller="AzureFiles" class="btn btn-info"
               asp-action="Index"
               asp-route-filename="@f">
                Read File
            </a>
            <a asp-controller="AzureFiles" class="btn btn-danger"
                asp-action="DeleteFile"
                asp-route-filename="@f">
                Delete file
            </a>
        </li>
    }
</ul>
<p style="color:blue">@ViewData["CONTENT"]</p>